#body
{
 background-image: url("https://wallpaperaccess.com/full/1310511.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 600px;
  }
.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
  }
  #useflex
  {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
  }
  #btn
  {
    background: transparent;
    color: black;
    padding: 10px;
     border: 2px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #btn:hover
  {
    background: red;
  }
  #city
  {
    padding: 08px 0px 8px 0px;
    width: 50%;
    border: 1px solid black;
    background:transparent ;
  }
  #nb
  {
    padding: 7px;
    width: 100%;
    display: flex;
  }
  #weathergif
  {
    width: 03%;
  }
 
  #content
  {
    height: 300px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  #load
  {
    width: 100%;
  }
  #logo
  {
    display: block;
    margin: auto;
  }
  #logo2
  {
  
    width: 30%;
    display: block;
    margin: auto;
  }
  h3
  {
    font-size:70px;
    color: yellow;
  }
  h5
  {
    font-size: 20px;
    margin-top: -50px;
    color: black;
  }
  p{
    margin-top: -10px;
  }

  @media screen  and (max-width: 768px){
    #useflex{
        display: block;
    }
    .mapouter {
      margin-top: 80px;
      text-align: right;
      height: 300px;
      width: 100px;
    }
}